@use './lib/mediaquery.scss' as mediaquery;
@use './lib/color.scss' as color;
@import './lib/font.scss';
@import './lib/scrollbar.scss';

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

::selection {
  background-color: color.$accent;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Chosun';
  @include mediaquery.mobile {
    font-size: 15px;
  }
  @include mediaquery.tablet {
    font-size: 16px;
  }
  @include mediaquery.desktop {
    font-size: 17px;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  color: color.$primary;
  background-color: color.$background;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: color.$darkenPrimary;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

address {
  font-style: normal;
}

strong,
b {
  color: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
}

input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

input[type=submit] {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
