@use '../../lib/color.scss' as color;
@use '../container.scss' as container;

.container {
    @include container.container('desktop');
    border-radius: 1rem;
    background-color: color.$background;
}

.legend {
    font-size: 1.5rem;
    padding-top: 1rem;
}


.searchedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin: .5rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.result {
    font-size: 2rem;
}
