@use '../../lib/color.scss' as color;

.container {
    margin-top: 4px;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.showcase {
    overflow: hidden;
    perspective: 1000px;
    padding: 16px;
    max-width: 30%;
    width: 100%;
    border: 1px solid rgba(white, .7);
    display: flex;
    align-items: center;
}

.info {
    border: 1px solid rgba(white, .7);
    padding: 4px;
    margin-left: 4px;
    text-align: left;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}
