@use '../../lib/color.scss' as color;

.container {
    margin-top: 4px;
    display: flex;
}

.inner {
    display: flex;
    width: 100%;
    border: 1px solid color.$darkenPrimary;
    padding: .5rem 1rem;
}

.input {
    width: 100%;
    font-size: 1.3rem;
    border: none;
}
