@use '../../lib/color.scss' as color;
@use '../../lib/mediaquery.scss' as mediaquery;

.container {
    width: 100%;
    padding: .5rem;
    display: flex;
    &:hover {
        background-color: lighten(color.$background, 10%);
    }
}

.showcase {
    overflow: hidden;
    perspective: 1000px;
    padding: 1rem 1rem;
    width: 30%;
    @include mediaquery.mobile {
        padding: .5rem 0;
    }
}

.info {
    padding: 1rem 1rem;
    text-align: left;
    @include mediaquery.mobile {
        padding: .5rem 1rem;
    }
}
