@import '../../lib/color.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    span {
        margin-right: .25rem;
    }
}

.icon {
    transform: translateY(2px);
    &.active {
        transform: rotate(180deg);
    }
}
