.container {
    padding-bottom: 3rem;
}

.title {
    font-size: 2rem;
    line-height: 1;
}

.date {
    display: block;
    line-height: 1;
    padding : 1rem 0;
    text-align: right;
}

.content {
    padding : 1rem 0;
    line-height: 2;
    text-align: justify;
}
