@use '../lib/color.scss' as colors;

.container {
    color: colors.$background;
    background-color: colors.$primary;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    box-shadow: 0px 0px 2px 0px rgba(black, .2);
    border-radius: 5px;
}
