@use '../lib/color.scss' as color;

.container {
    list-style: none;
    width: 100%;
}

.doc {
    position: relative;
    width: 100%;
    padding: .5rem;
    border: 1px solid rgba(white, .5);
    a {
        color: inherit;
    }
}

.doc + .doc {
    margin-top: 4px;
}

.title {
    font-size: 1.1rem;
    color: inherit;
    line-height: 1.5;
}

.date {
    color: inherit;
    display: block;
    font-size: .8rem;
    margin-top: .5rem;
    opacity: .5;
}

.month {
    width: 2rem;
    padding: .5rem 0;
    white-space: nowrap;
    bottom: 0;
    left: calc(100% + 3px);
    position: absolute;
    font-size: .8rem;
    color: inherit;
    transform: translateY(50%);
    color:rgba(white, .7);
    background-color: black;
    text-align: center;
}
