@use '../lib/mediaquery.scss' as mediaquery;
@use '../lib/color.scss' as color;

.container {
    @include mediaquery.mobile {
        padding-top: calc(32px + 1rem);
    }
}

.navigation {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    height: 100%;
    background-color: color.$darkenBackground;
    transition: transform .5s;
    z-index: 99;
    &.inactive {
        transform: translateX(-100%);
        .icon {
            transform: rotate(180deg);
        }
    }
}

.mobileHeader {
    @include mediaquery.mobile {
        height: calc(32px + 1rem);
    }
}

.button {
    position: absolute;
    left: 100%;
    top: 50%;
    padding: .5rem .6rem .5rem .2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: color.$primary;
    background-color: inherit;
    transition: top 1s;
    @include mediaquery.mobile {
        top: 0%;
    }
}

.icon {
    transition: transform .5s;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    @include mediaquery.mobile {
        position: relative;
    }
    a {
        text-decoration: none;
    }
}

.menu {
    font-size: 1.3rem;
    list-style: none;
    color: color.$primary;
    padding: 1.5rem 1rem;
    &:hover {
        background-color: lighten(color.$darkenBackground, 10%);
    }
}
