@use '../../lib/color.scss' as color;

.container {
    width: 100%;
    padding-bottom: 1rem;
}

.title {
    font-size: 2rem;
    line-height: 1.5;
}

.subtitle {
    line-height: 1.5;
    font-size: 1.5rem;
    .title + & {
        margin-top: .5rem;
    }
}

.date {
    display: block;
    line-height: 1;
    padding : 1rem 0;
    text-align: right;
}

.content {
    padding : 1rem 0;
    line-height: 2;
    font-size: 1rem;
    text-align: justify;
}
