@use '../lib/mediaquery.scss' as mediaquerey;

.container {
    perspective: 1000px;
}

.figure {
    position: relative;
    transition: transform .5s;
    transform-style: preserve-3d;
    transform-origin: 50% 0;
    transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    @include mediaquerey.mobile {
        transform: translate3d(-5%, 0, 0) rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
    }
    &:hover {
        transform: translate3d(-5%, 0, 0) rotateX(0deg) rotateY(-20deg) rotateZ(0deg);
    }
}

.front {
    position: relative;
}

.paper {
    position: absolute;
    top: 2px;
    left: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: rgb(238, 238, 238);
    transform-origin: left;
    transform: rotateY(90deg);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
