@use '../lib/mediaquery.scss' as mediaquery;
@use '../lib/color.scss' as color;
@use '../templates/container.scss' as container;

.container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.curtain {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color : rgba(0, 0, 0, .5);
    &.active {
        display: block;
    }
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 2rem);
    @include mediaquery.mobile {
        max-height: calc(100vh - 4rem);
    }
}

.window {
    @include container.container('window');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.2rem 1rem .5rem 1.2rem;
    border-radius: .5rem;
    color: color.$background;
    background-color: color.$primary;
    box-shadow: 0px 0px 4px 2px rgba(black, .5);
}

.code {
    font-size: 1.1rem;
}
.message {
    padding-right: .5rem;
}

.message {
    font-size: .9rem;
    width: 100%;
    padding-top: 1rem;
    margin-bottom: .5rem;
}

.input {
    align-self: center;
    width: 100%;
    padding : .5rem 1rem;
    margin: .5rem 1rem;
    border: none;
    border-radius : 1rem;
    background-color: lighten(color.$accent, 50%);
}

.menu {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    button {
        padding: .5rem;
        color: color.$accent;
        &:hover {
            background-color: lighten(color.$accent, 50%);
        }
    }
    button + button {
        margin-right: .5rem;
    }
}
