@use './container.scss' as container;

.container {
    @include container.container('wide');
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 3rem;
}
