@use '../lib/color.scss' as color;

.container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.monologue {
    width: 100%;
    text-align: center;
}

// .title {
//     font-size: 1.2rem;
// }

// .wrapper {
//     margin-top: 1rem;
//     display: flex;
//     align-items: center;
//     >* {
//         height: fit-content;
//     }
//     >* + * {
//         margin-left: 1rem;
//     }
// }
