@use '../lib/mediaquery.scss' as mediaquery;

.container {
    margin-top: 4px;
    width: 100%;
    border: 1px solid rgba(white, .7);
    padding: 4px;
}

.window {
    width: 100%;
    display: flex;
    padding: 0 .5rem;
}

.case {
    perspective: 1000px;
    width: 100%;
    padding: 16px;
    @include mediaquery.mobile {
        &:nth-child(n + 4) {
            display: none;
        }
    }
}

.case + .case {
    margin-left: 1rem;
}
