@use './container.scss' as container;
@use '../lib/color.scss' as color;

.container {
    @include container.container('mobile');
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legend {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: .5rem;
    border: 1px solid rgba(white, .7);
}

@mixin input {
  width: 100%;
  border: none;
  padding: 1rem;
  border: 1px solid rgba(white, .7);
  font-size: 1.4rem;
  margin-top: 4px;
}

.field {
   @include input();
}

.content {
   @include input();
   font-size: 1.2rem;
   height: 15rem;
   resize: none;
}

.submit {
    width: 100%;
    margin-top: 4px;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid rgba(white, .7);
    background: repeating-linear-gradient(120deg, rgba(white, .4), rgba(white, .4) 2px, transparent 2px, transparent 6px);
}
