@use '../lib/variables.scss' as variables;
@use '../lib/mediaquery.scss' as mediaquery;

@mixin container($device) {
    max-height: inherit;
    max-width: calc(100vw - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @if $device == 'window' {
        max-width: calc(100vw - 8rem);
    }
    @if $device == 'mobile' or $device == 'window-mobile' {
        width: variables.$breakpoint-mobile;
    }
    @if $device == 'desktop' or $device == 'window-desktop' {
        width: variables.$breakpoint-desktop;
    }
    @if $device == 'wide' {
        width: variables.$breakpoint-wide;
    }

    @if $device != 'window' and $device != 'window-mobile' and $device != 'window-desktop' {
        @include mediaquery.mobile {
            padding-top: calc(4rem);
        }
    }
}
