@use './container.scss' as container;

.container {
    @include container.container('desktop');
    min-height: 100vh;
    align-items: flex-start;
    margin: 1rem 0;
    border: 1px solid white;
    padding: 4px;
}
