@use '../lib/mediaquery.scss' as mediaquery;
@use '../lib/color.scss' as color;
@use './container.scss' as container;

.container {
    @include container.container('wide');
}

.bookcase {
    display: grid;
    align-items: flex-end;
    padding: 0 1rem;
    gap: 2rem;
    width: 100%;
    @include mediaquery.desktop {
        grid-template-columns: repeat(6, 1fr);
    }
    @include mediaquery.tablet {
        grid-template-columns: repeat(4, 1fr);
    }
    @include mediaquery.mobile {
        grid-template-columns: repeat(3, 1fr);
    }
}

