@use '../lib/mediaquery.scss' as mediaquery;
@use '../lib/color.scss' as color;
@use './container.scss' as container;

.container {
    @include container.container('wide');
    padding: 1rem 0;
}

.header {
    width: 100%;
    padding: .5rem;
    text-align: center;
    border: 1px solid white;
}

.bookcase {
    margin-top: 4px;
    display: grid;
    align-items: flex-end;
    padding: 4px;
    gap: 4px;
    width: 100%;
    border: 1px solid white;
    @include mediaquery.desktop {
        grid-template-columns: repeat(5, 1fr);
    }
    @include mediaquery.tablet {
        grid-template-columns: repeat(4, 1fr);
    }
    @include mediaquery.mobile {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wrapper {
    border: 1px solid rgba(white, .7);
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: flex-end;
}

