@use '../lib/color.scss' as color;
@use './container.scss' as container;

.container {
    @include container.windowContainer(calc(100vw - 6rem));
    background-color: color.$background;
}

.legend {
    font-size: 1.5rem;
    width: 100%;
    padding: .5rem;
    text-align: center;
    border: 1px solid rgba(white, .7);
}

.inner {
    display: flex;
    flex-direction: column;
}

.page,
.paragraph {
    margin-top: 4px;
    border: 1px solid rgba(white, .7);
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem;
}

.paragraph {
    resize: none;
    height: 12rem;
    line-height: 1.3;
}

.submit {
    margin-top: 4px;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid rgba(white, .7);
}
