@use '../lib/color.scss' as color;
@use './container.scss' as container;

.container {
    @include container.container('mobile');
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    background-color: color.$background;
}

.legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.formContainer {
    width: 100%;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.page,
.paragraph {
    border: none;
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
}

.paragraph {
    resize: none;
    height: 300px;
    line-height: 1.3;
}

.submit {
    border: 1px solid color.$primary;
    padding: 1rem;
}
