@use './container.scss' as container;
@use '../lib/color.scss' as color;

.container {
    @include container.container('mobile');
}

.back {
    width: 100%;
    color: white;
    font-size: 1.3rem;
    align-self: flex-start;
    margin-bottom: 4px;
    border: 1px solid rgba(white, .7);
    padding: .5rem;
}

* + .back {
    margin-top: 4px;
    margin-bottom: 0px;
}
