@import '../lib/variables.scss';

.container {
    max-width: $breakpoint-mobile;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
}
