@use '../lib/color.scss' as color;
@use '../lib/mediaquery.scss' as mediaquery;

.container {
    display: flex;
    width: 100%;
    margin-top: 4px;
    @include mediaquery.mobile {
        flex-direction: column;
        .section {
            padding-right: 0rem;
        }
        .wrapper + .section {
            margin-top: 4px;
        }
    }
}

.wrapper {
    width: 100%;
    @include mediaquery.desktop {
        padding-right: 4px;
    }
}

.section {
    width: 100%;
    padding-right: 0;
    border: 1px solid rgba(white, .7);
    padding: 4px;
}

.section + .section {
    margin-top: 4px;
}
