@use '../lib/variables.scss' as variables;
@use './container.scss' as container;

.container {
    @include container.container('mobile');
    margin-top: 1rem;
    padding: 4px;
    border: 1px solid white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 256px;
    padding: 4px;
    border: 1px solid rgba(white, .7);
}

.window {
    perspective: 1000px;
    padding: 16px;
    max-width: 33%;
    height: 100%;
    border: 1px solid rgba(white, .7);
    display: flex;
    align-items: center;
}

.info {
    font-size: .9rem;
    width: 100%;
    height: 100%;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}

.back {
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

