@use '../lib/variables.scss' as variables;
@use './container.scss' as container;

.container {
    @include container.container('mobile');
    padding: 1rem 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.window {
    perspective: 1000px;
    padding: 0 1rem;
    width: 40%;
}

.info {
    font-size: 1rem;
}
